.container {
    display: flex;
}

.form {
    background-color: #bfd1df;
    opacity: 100%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
    transition: transform 0.2s;
    margin: 20%;
    text-align: center;
    width: 60%;

}

p {
    text-align: left;
    margin-left: 45px;
    margin-bottom: 1px;
    font-size: 15px;
}

input {
    height: 18px;
}

::placeholder {
    font-size: 12px;
    opacity: 0.8;
}

.homeButton {
    background-color: #0bea25;
    box-shadow: 0 0 20px rgba(44, 43, 43, 0.2);
    width: 150px;
    display: inline-block;
    border-color: #0bea25;
    margin: 10% 10%;
    padding: 8px;
    font-size: 13px;
    border-radius: 8px;
    cursor: pointer;
}

.homeButton:hover {
    opacity: 0.8;
}
